<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>LiveCode Dictionary</title>
    
    <link href="[[tDocsCSSFolder]]/bootstrap.min.css" rel="stylesheet">
    <link href="[[tDocsCSSFolder]]/lcdoc.css" rel="stylesheet">
    <link href="[[tDocsCSSFolder]]/codestyle.css" rel="stylesheet">
</head>
<body>

	<div class="panel panel-default" id="lcdoc_body">
        <div class="panel-body" id="api_entry">
        </div>
    </div>
   
    <script src="[[tDocsJSFolder]]/jquery-1.11.1.min.js"></script>
    <script src="[[tDocsJSFolder]]/jquery.session.js"></script>
    <script src="[[tDocsJSFolder]]/bootstrap.min.js"></script>
    <script src="[[tDocsJSFolder]]/marked.js"></script>
    <script src="[[tDocsJSFolder]]/highlight.pack.js"></script>	
    <script src="[[tDocsJSFolder]]/jquery.mousewheel.min.js"></script>	
    
    <script charset="UTF-8" src="[[tDataPath]]"></script>  
    <script src="[[tDocsJSFolder]]/dictionary_functions.js"></script>	
    <script>
	
    $(document).ready(function(e)
	{	
		setActions();	
		goEntryName('[[tLibraryName]]', '[[tEntryName]]', '[[tEntryType]]');
	});
	</script>
</body>
</html>